<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mjhr.project.book.dao.BookDao">

	<!-- 비활성화된 데이터 포함 모든 책 조회 -->
	<select id="selectAllWithInactive" resultType="Book">
		SELECT * FROM books
	</select>

	<!-- 모든 책 조회 (활성화된 데이터만 조회) -->
	<select id="selectAll" resultType="Book">
		SELECT * FROM books
		WHERE
		status = 'ACTIVE'
		<if test="limitNum != null">
				LIMIT #{limitNum}
		</if>
		;
	</select>

	<!-- 특정 책 조회 (활성화된 데이터만 조회) -->
	<select id="select" parameterType="String" resultType="Book">
		SELECT *
		FROM books
		WHERE isbn = #{isbn} AND status = 'ACTIVE';
	</select>

	<!-- 검색 조건에 따른 책 조회 (활성화된 데이터만 조회) -->
	<select id="search" parameterType="SearchCondition"
		resultType="Book">
		SELECT * FROM books
		<where>
			status = 'ACTIVE' <!-- 비활성화된 데이터 제외 -->
			<if test="key != null and word != null">
				AND ${key} LIKE CONCAT('%', #{word}, '%')
			</if>
		</where>
		<if test="orderBy != null and orderDir != null">
			ORDER BY ${orderBy} ${orderDir}
		</if>
	</select>

	<!-- 책 추가 -->
	<insert id="insert" parameterType="Book">
		INSERT INTO books (isbn,
		title, author, publisher, book_img,
		publication_date, status)
		VALUES
		(#{isbn}, #{title}, #{author}, #{publisher}, #{bookImg},
		#{publicationDate}, 'ACTIVE');
	</insert>

	<!-- 책 비활성화 (삭제 대신 비활성화로 대체) -->
	<update id="delete" parameterType="String">
		UPDATE books
		SET status =
		'INACTIVE'
		WHERE isbn = #{isbn};
	</update>

	<!-- 책 정보 수정 -->
	<update id="update" parameterType="Book">
		UPDATE books
		SET title =
		#{title}, author = #{author}, publisher = #{publisher},
		book_img =
		#{bookImg}, publication_date = #{publicationDate}
		WHERE isbn = #{isbn}
		AND status = 'ACTIVE';
	</update>

</mapper>
